# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.env

# Node/React
node_modules/
dist/
.DS_Store

# SAGAR Specific
backend/data/*.db
backend/*.db
backend/data/uploads/*
!backend/data/uploads/.gitkeep
backend/data/processed/*
!backend/data/processed/.gitkeep
backend/data/uploads/processing_results/*
.pytest_cache/
*.pyc

